.link-tutorial a {
	color: green;
}
.link-tutorial a:hover {
	color: green;
}

#kid-select-button-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#kid-select-button-cont .kid-button {
  flex:1 0 300px;
  margin:10px;
  /*max-width:300px;*/
}
#kid-select-button-cont .kid-button button {
  height: 75px;
  width: 100%;
}

.stat-table th { text-align:right; }
.stat-table td { text-align:left; padding-left:6px; }

.passage ul {
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
}

#facilityInfo, #kidInfo { border:double 5px blue; padding:0px 10px 4px; }
#facilityInfo:empty, #kidInfo:empty { display:none; }
